body {
    color: rgba(241, 232, 232, 0.973);
    background: rgba(10, 10, 10, 0.938);
    margin: 10px;

}
header{
    border-bottom: solid 10px rgba(128, 0, 6, 0.712);
    font-size: 37775px;
    padding: 20px;
    color:aqua;

}

section {

    background-color:antiquewhite;
}
h1{
font-size: 32px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
font-size: 20px;
}

img{
height: 200px;
}